{% extends 'dashboard_base.html.twig' %}

{% block title %}Logy | {{ project }}{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
{% endblock %}

{% block nav %}
    {% for idx, menu in projects %}
        <a href="{{ base }}/project/{{ menu }}">{{ menu }}</a>
    {% endfor %}
{% endblock %}

{% block body %}
    {% for file in files %}
        <a href="{{ base }}/logs/{{ project }}/{{ mesiac }}/view/{{ file }}">{{ file }}</a> <br><br>
    {% endfor %}
{% endblock %}

